@import url('https://fonts.googleapis.com/css?family=Lato|Work+Sans:400,900&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.test-border {
  border: 1px solid #FF0000;   /* JUST A TEST ACLASS SHOULD BE REMOVED AFTER DEVELOPEMNT */
}

:root {
  --primary: #FFAF30;
  --secondary: #2196F3;
  --secondary-b:  #48BBFC;
  --black: #3D3D3D;
  --hover: #0475CE;
  --white: #F2F2F2;
}


body {
	background: #FAFAFA;
	font-family: Lato, Roboto;
  margin: 0px;
  color: var(--black);
}

h1, .heading {
	font-family: Work Sans;
	font-size: 42px;
	font-weight: bold;
}

nav {
	background: var(--secondary);
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav .title {
  display: flex;
}

.title p {
  font-size: 1.25rem;
  background-color: var(--white);
  color: var(--hover);
  align-self: flex-start;
}

.main-wrapper {
  /* Genral style for wrappers here */
  display: flex;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 2;
}

.sidebar {
  flex-basis: 30%;
}

.page-title {
  text-align: center;
}

.auth__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary);
  color: var(--white);
}

.menu {
  background-color: #FFFFFF;
  width: 70%;
  margin-top: 3rem;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important;
}

.menu li {
  list-style: none;
  margin: 1rem 0;
  padding: 1rem 1rem;
  cursor: pointer;
}

.menu li.active {
  border-left: 3px solid var(--secondary);
  background-color: var(--white);
}

.menu li:hover {
  background-color: var(--hover);
  color: var(--primary);
}

.menu a, .request-preview a {
  color: inherit;
  text-decoration: none;
}



.auth__sidebar * {
  color: var(--white);
}

.auth__body {
  display: flex;
}

.form-wrapper p {
  align-self: flex-end;
  margin: 0;
}

.form-wrapper input[type="submit"], .form-wrapper button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 600px;
  font-size: 1.35rem;
  line-height: 1.5;
}

.row-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.group-input {
  width: 100%;
}

.group-input label {
  width: 100%;
  color: var(--secondary);
}


.form--auth {
  margin: auto;
  width: 60%;
}

#form--register {
  min-height: 75%;
}

#form--login {
  min-height: 400px;
}


.logo {
  color: var(--primary);
  font-size: 2em;
  font-family: Work Sans;
  letter-spacing: .5rem;
  line-height: 2px;
  text-transform: uppercase;
}

select, input[type="text"], input[type="password"], input[type="email"], textarea {
  width: 95%;
  font-size: 24px;
  line-height: 1.5;
  padding: .25em .5em;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #F4F4F4;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="submit"], button {
  font-size: 1.25rem;
  border-radius: .25rem;
}

.btn--secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
  cursor: pointer;
  padding-top: .35rem;
  padding-bottom: .35rem;
}

.btn--secondary:hover {
  background-color: var(--secondary);
}

.form--newrequest {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.request-collection {
  margin-right: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.request-preview {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important;
}

.request-preview a:hover .preview__body{
  background-color: var(--white);
}

.request-preview a:hover .preview__foot{
  background-color: var(--hover);
}

.preview__foot {
  display: flex;
  justify-content: space-between;
  background: var(--secondary-b);
  padding: .5rem .15rem;
  color: var(--white);
}

.preview__body {
  padding: .5rem .15rem;
}

.preview__body p {
  margin: 0;
}

.preview__body h5 {
  margin-bottom: .85rem;
}

.status-unresolved {
  color: #FFFF00;
}

.status-resolved {
  color: #11BB00;
}

.status-rejected {
  color: #FF0000;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .wrapper--auth {
    flex-direction: column;
  }

  h1, .heading {
    font-size: 32px;
  }
  
  #register--wrapper {
    height: 1200px;
  }
  
   .form--auth {
     width: 80%;
     height: 80%;
   }

   .form-wrapper p {
    font-size: smaller;
   }

   #form--register {
    height: 650px;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

  .row-wrapper {
    flex-direction: column;
  }

  .row-wrapper * {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }
  select, input[type="text"], input[type="password"], input[type="email"], textarea{
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
  }

  .form--newrequest {
    width: 95%;
  }
  
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .request-collection {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }


@media (max-width: 768px) { 
  .request-collection {
    grid-template-columns: 1fr;
  }
}



