





body {
	background: #FAFAFA;
	font-family: Lato, Roboto;
}

h1, .heading {
	font-family: Work Sans;
	font-size: 42px;
	font-weight: bold;
}

nav {
	background: #F4F4F4;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mxy-auto {
	margin: auto;
}

.flex {
	display: flex;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-evenly{
	justify-content: space-evenly;
}


.justify-content-space-around {
	justify-content: space-around;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}


.s1 {
  width: 7.69230%;
}

.s2 {
  width: 15.384615%;
}

.s3 {
  width: 23.0769%;
}

.s4 {
  width: 30.7692%;
}

.s5 {
  width: 38.4615%;
}

.s6 {
  width: 46.1538%;
}

.s7 {
  width: 53.8461%;
}

.s8 {
  width: 61.5384%;
}

.s9 {
  width: 69.2307%;
}

.s10 {
  width: 76.9230%;
}

.s11 {
  width: 84.6153%;
}

.s12 {
  width: 92.3076%;
}

.s13 {
  width: 100%;
}


@media only screen and (min-width: 601px) {
  .m1 {
    width: 7.69230%;
  }
  .m2 {
    width: 15.384615%;
  }
  .m3 {
    width: 23.0769%;
  }
  .m4 {
    width: 30.7692%;
  }
  .m5 {
    width: 38.4615%;
  }
  .m6 {
    width: 46.1538%;
  }
  .m7 {
    width: 53.8461%;
  }
  .m8 {
    width: 61.5384%;
  }
  .m9 {
    width: 69.2307%;
  }
  .m10 {
    width: 76.9230%;
  }
  .m11 {
    width: 84.6153%;
  }
  .m12 {
    width: 92.3076%;
  }

  .m13 {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .l1 {
    width: 7.69230%;
  }
  .l2 {
    width: 15.384615%;
  }
  .l3 {
    width: 23.0769%;
  }
  .l4 {
    width: 30.7692%;
  }
  .l5 {
    width: 38.4615%;
  }
  .l6 {
    width: 46.1538%;
  }
  .l7 {
    width: 53.8461%;
  }
  .l8 {
    width: 61.5384%;
  }
  .l9 {
    width: 69.2307%;
  }
  .l10 {
    width: 76.9230%;
  }
  .l11 {
    width: 84.6153%;
  }
  .l12 {
    width: 92.3076%;
  }
  .l13 {
   width: 100%;
  }
  

}

@media only screen and (min-width: 1201px) {
  .xl1 {
    width: 7.69230%;

  }
  .xl2 {
    width: 15.384615%;

  }
  .xl3 {
    width: 23.0769%;

  }
  .xl4 {
    width: 30.7692%;
  }
  .xl5 {
    width: 38.4615%;
  }
  .xl6 {
    width: 46.1538%;
  }
  .xl7 {
    width: 53.8461%;
  }
  .xl8 {
    width: 61.5384%;
  }
  .xl9 {
    width: 69.2307%;
  }
  .xl10 {
    width: 76.9230%;
  }
  .xl11 {
    width: 84.6153%;
  }
 .xl12 {
   width: 92.3076%;
 }
 .xl13 {
   width: 100%;
 }
}