@import url('https://fonts.googleapis.com/css?family=Lato|Work+Sans:400,900&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.test-border {
  border: 1px solid #FF0000;   /* JUST A TEST ACLASS SHOULD BE REMOVED AFTER DEVELOPEMNT */
}

:root {
  --primary: #2196F3;
  --secondary: #48BBFC;
  --black: #3D3D3D;
  --hover: #0475CE;
  --white: #C4C4C4;
}


body {
	background: #FAFAFA;
	font-family: Lato, Roboto;
  margin: 0px;
  color: var(--black);
}

h1, .heading {
	font-family: Work Sans;
	font-size: 42px;
	font-weight: bold;
}

nav {
	background: #F4F4F4;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.vh-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}


.bg-primary, .bg-primary a {
  background-color: var(--primary);
  color: white;
}

.logo {
  color: #FFAF30;
  font-size: 2em;
  font-family: Work Sans;
  letter-spacing: .5rem;
  line-height: 2px;
  text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="email"]{
  width: 100%;
  display: block;
  padding: .375rem .75rem;
  font-size: 1.15rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #F4F4F4;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="submit"], button {
  font-size: 1.25rem;
  border-radius: .25rem;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #FFFFFF;
  cursor: pointer;
}

.block {
  display: block;
}

form.mxy-auto {
  min-height: 40%;
}

.text-right {
  text-align: right;
}


/* Margin Utilities */

.mt1 {
	margin-top: 0.25rem !important;
}

.mt2 {
	margin-top: 0.5rem !important;
}

.mt3 {
	margin-top: 1rem !important;
}


.mt4 {
	margin-top: 1.5rem !important;
}

.mt5 {
	margin-top: 3rem !important;
}

.mb1 {
	margin-bottom: 0.25rem !important;
}

.mb2 {
	margin-bottom: 0.5rem !important;
}

.mb3 {
	margin-bottom: 1rem !important;
}


.mb4 {
	margin-bottom: 1.5rem !important;
}

.mb5 {
	margin-bottom: 3rem !important;
}


.mr1 {
	margin-right: 0.25rem !important;
}

.mr2 {
	margin-right: 0.5rem !important;
}

.mr3 {
	margin-right: 1rem !important;
}


.mr4 {
	margin-right: 1.5rem !important;
}

.mr5 {
	margin-right: 3rem !important;
}

.ml1 {
	margin-left: 0.25rem !important;
}

.ml2 {
	margin-left: 0.5rem !important;
}

.ml3 {
	margin-left: 1rem !important;
}


.ml4 {
	margin-left: 1.5rem !important;
}

.ml5 {
	margin-left: 3rem !important;
}

.mx1 {
	margin-right: 0.25rem !important;
	margin-left: 0.25rem !important;
}

.mx2 {
	margin-right: 0.5rem !important;
	margin-left: 0.5rem !important;
} 

.mx3 {
	margin-right: 1rem !important;
	margin-left: 1rem !important;
} 

.mx4 {
	margin-right: 1.5rem !important;
	margin-left: 1.5rem !important;
} 

.mx5 {
	margin-right: 3rem !important;
	margin-left: 3rem !important;
}

.my1 {
	margin-top: 0.25rem !important;
	margin-bottom: 0.25rem !important;
}

.my2 {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

.my3 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}

.my4 {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}

.my5 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}  


.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mxy-auto {
	margin: auto;
}




.pt1 {
	padding-top: 0.25rem !important;
}

.pt2 {
	padding-top: 0.5rem !important;
}

.pt3 {
	padding-top: 1rem !important;
}


.pt4 {
	padding-top: 1.5rem !important;
}

.pt5 {
	padding-top: 3rem !important;
}

.pb1 {
	padding-bottom: 0.25rem !important;
}

.pb2 {
	padding-bottom: 0.5rem !important;
}

.pb3 {
	padding-bottom: 1rem !important;
}


.pb4 {
	padding-bottom: 1.5rem !important;
}

.pb5 {
	padding-bottom: 3rem !important;
}


.pr1 {
	padding-right: 0.25rem !important;
}

.pr2 {
	padding-right: 0.5rem !important;
}

.pr3 {
	padding-right: 1rem !important;
}


.pr4 {
	padding-right: 1.5rem !important;
}

.pr5 {
	padding-right: 3rem !important;
}

.pl1 {
	padding-left: 0.25rem !important;
}

.pl2 {
	padding-left: 0.5rem !important;
}

.pl3 {
	padding-left: 1rem !important;
}


.pl4 {
	padding-left: 1.5rem !important;
}

.pl5 {
	padding-left: 3rem !important;
}

.px1 {
	padding-right: 0.25rem !important;
	padding-left: 0.25rem !important;
}

.px2 {
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
} 

.px3 {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
} 

.px4 {
	padding-right: 1.5rem !important;
	padding-left: 1.5rem !important;
} 

.px5 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}

.py1 {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}

.py2 {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

.py3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.py4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}

.py5 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}


/* Flex Utitlities */

.flex {
	display: flex;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-evenly{
	justify-content: space-evenly;
}


.justify-content-space-around {
	justify-content: space-around;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

/* Utilities for sizing acroos screen sizes */

.s1 {
  width: 7.69230%;
}

.s2 {
  width: 15.384615%;
}

.s3 {
  width: 23.0769%;
}

.s4 {
  width: 30.7692%;
}

.s5 {
  width: 38.4615%;
}

.s6 {
  width: 46.1538%;
}

.s7 {
  width: 53.8461%;
}

.s8 {
  width: 61.5384%;
}

.s9 {
  width: 69.2307%;
}

.s10 {
  width: 76.9230%;
}

.s11 {
  width: 84.6153%;
}

.s12 {
  width: 92.3076%;
}

.s13 {
  width: 100%;
}


@media only screen and (min-width: 601px) {
  .m1 {
    width: 7.69230%;
  }
  .m2 {
    width: 15.384615%;
  }
  .m3 {
    width: 23.0769%;
  }
  .m4 {
    width: 30.7692%;
  }
  .m5 {
    width: 38.4615%;
  }
  .m6 {
    width: 46.1538%;
  }
  .m7 {
    width: 53.8461%;
  }
  .m8 {
    width: 61.5384%;
  }
  .m9 {
    width: 69.2307%;
  }
  .m10 {
    width: 76.9230%;
  }
  .m11 {
    width: 84.6153%;
  }
  .m12 {
    width: 92.3076%;
  }

  .m13 {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .l1 {
    width: 7.69230%;
  }
  .l2 {
    width: 15.384615%;
  }
  .l3 {
    width: 23.0769%;
  }
  .l4 {
    width: 30.7692%;
  }
  .l5 {
    width: 38.4615%;
  }
  .l6 {
    width: 46.1538%;
  }
  .l7 {
    width: 53.8461%;
  }
  .l8 {
    width: 61.5384%;
  }
  .l9 {
    width: 69.2307%;
  }
  .l10 {
    width: 76.9230%;
  }
  .l11 {
    width: 84.6153%;
  }
  .l12 {
    width: 92.3076%;
  }
  .l13 {
   width: 100%;
  }
  

}

@media only screen and (min-width: 1201px) {
  .xl1 {
    width: 7.69230%;

  }
  .xl2 {
    width: 15.384615%;

  }
  .xl3 {
    width: 23.0769%;

  }
  .xl4 {
    width: 30.7692%;
  }
  .xl5 {
    width: 38.4615%;
  }
  .xl6 {
    width: 46.1538%;
  }
  .xl7 {
    width: 53.8461%;
  }
  .xl8 {
    width: 61.5384%;
  }
  .xl9 {
    width: 69.2307%;
  }
  .xl10 {
    width: 76.9230%;
  }
  .xl11 {
    width: 84.6153%;
  }
 .xl12 {
   width: 92.3076%;
 }
 .xl13 {
   width: 100%;
 }
}
